.page {
  width: 100vw;
  aspect-ratio: 16 / 9;
  background-color: #d0eae0;
  position: relative;
}

.image {
  position: absolute;
  width: 100%;
}

.string {
  position: absolute;
  width: 100%;
}
