@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.background {
  position: relative;
  width: 100vw;
  background-color: #d0eae0;
  aspect-ratio: 16 / 9;
}

.title {
  position: absolute;
  width: 31.19vw;
  height: 13.42vh;
  top: 6vh;
  left: 34.37vw;
}

.notepage {
  position: absolute;
  /* top: 18.42vh; */
  top: 21vh;
  left: 10.98vw;
  display: flex;
  z-index: 100;
}

.note-box {
  margin-bottom: 1.57vh;
  width: 5.99vw;
  height: 8.61vh;
  background-color: #eefff8;
}

.note-container {
  margin-top: 4.81vh;
}

.imgcontainer {
  width: 69.06vw;
  height: 80vh;
}

.noteimg {
  width: 69.06vw;
}


.text {
  font-family: 'Pretendard';
  font-size: 0.83vw;
  color: #ffffff;
  position: absolute;
  left: 79%;
  font-weight: 400;
  top: 6%;
  z-index: 11;
}

.img-div {
  z-index: 10;
  position: relative;
}
