.note-box {
  margin-bottom: 1.57vh;
  width: 5.99vw;
  height: 8.61vh;
  background-color: #eefff8;
}

.note1 {
  position: absolute;
  top: 8%;
  left: 1.3vw;
  width: 3.21vw;
  height: 5.33vh;
  z-index: 11;
  cursor: pointer;

  /* transition: box-shadow 0.3s ease; */
}

.note1:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */

}

.note2 {
  position: absolute;
  top: 20.8%;
  left: 1.3vw;
  width: 3.21vw;
  height: 5.33vh;
  z-index: 12;
  cursor: pointer;
  /* transition: box-shadow 0.3s ease; */
}

.note3 {
  position: absolute;
  top: 33%;
  left: 1.3vw;
  width: 3.21vw;
  height: 5.33vh;
  z-index: 12;
  cursor: pointer;

  /* transition: box-shadow 0.3s ease; */
}


.note2:hover {
    transform: scale(1.1);
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
}

.note3:hover {
    transform: scale(1.1);
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
}



