.button {
  position: absolute;
  width: 2.81vw;
  height: 5vh;
  left: 2.29vw;
  top: 1.29vh;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button-container {
  position: absolute;
  width: 5.85vw;
  margin-top: 4.81vh;
  height: 7.5vh;
  left: 72.04vw;
  background-color: #eefff8;
  z-index: 0;
}
